

.box1 {
    background-color: #77AF00; /* greenish */
    height: 100px;
    width: 100px;
    margin: 10px;
    /*float: right;*/
}
.box2 {
    background-color: #1969B2; /* blueish */
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}